
@import "custom/_variables.scss";

// Reset default browser styles using Normalize
@import "vendor/normalize-scss/normalize/import-now";

// Install FontAwesome for useful icons
@import "font-awesome";

// Import fonts from Google
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700|Lato:400,700);

// Set variables and reusable mixins
@import "base/config";
@import "base/mixins";

// Import typical layout styles
@import "base/grid";
@import "base/type";

// Import reusable modules
@import "components/media";
@import "components/buttons";
@import "components/tables";
@import "components/forms";
@import "components/alerts";
@import "components/nav";
@import "components/other";

@import "custom/_styles.scss";

@import "base/print";

