
html {
  height: 100%;
}

body {
  background-color: $bg-color;
  color: $color;
  font-weight: 200;
  font-size: 100%;
}

@include responsive($small-break) {
  #page {
    font-size: 0.9rem;
  }
}

@include mobilefirst($big-break) {
  #page {
    font-size: 1.1rem;
  }
}

body,
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0.5em 0;
}

h1 {
  font-size: 1.7rem;
  text-shadow: 1px 1px 1px $heading-shadow-color;
  color: $heading-color;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.3rem;
}

h4,
h5 {
  font-size: 1rem;
}

h2,
h3,
h4,
h5 {
  text-shadow: 1px 1px 1px $heading-shadow-color2;
  color: $heading-color2;
}

a {
  text-decoration: none;
  color: $nav-color;

  &:hover {
    text-decoration: underline;
  }
  &:visited {
    color: $nav-color;
  }
}

p {
  text-align: justify;
  margin-top: 0.5em;
}

code {
  color: $heading-color;
  font-weight: 400;
}

#page {
  @extend .container;
  max-width: 1024px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: $content-bg-color;
  padding: 0px $margin 0px $margin;
}

#page > main {
  flex: 1 0 auto;
  padding: 1.5em;
}

#page > header {
  flex: none;
  background-color: white;
  border-bottom-left-radius: $br;
  border-bottom-right-radius: $br;
}

#page > header > nav {
  margin: $margin;
  padding-left: 15px;
  border-radius: $br;
  background-color: $nav-bg-color;
  font-weight: 300;
  font-size: 1.3rem;
  a {
    padding: 7px 10px;
    &.active {
      font-weight: 700;
      text-decoration: underline;
    }
  }
}

#header-image {
  height: 200px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url(asset_path("header-image.png"));
}

#page > footer {
  margin-top: auto;
  background-color: white;
  flex: none;
  border-top-left-radius: $br;
  border-top-right-radius: $br;
}

#page > footer > div {
  @extend .text-center;
  padding: 0.5em;
  margin: $margin $margin 0px $margin;
  border-top-left-radius: $br;
  border-top-right-radius: $br;
  background-color: $nav-bg-color;
  font-size: 0.75em;
}

#page > footer .links {
  color: $nav-color;
}

.thumbs {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-end;
  img {
    padding: 1px;
    border: 1px solid $bg-color;
    background-color: $silver;
    border-radius: $br;
    margin: 0.9rem 1.1rem;
  }
}
