
html {
  height: 100%;
}

body {
  background-color: $bg-color;
  color: $color;
  font-weight: 300;
  font-size: 100%;
  text-align: justify;
}

@include responsive($small-break) {
  #page {
    font-size: 0.9rem;
  }
}

@include mobilefirst($big-break) {
  #page {
    font-size: 1.2rem;
  }
}

body,
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0.25em 0;
  text-shadow: 1px 1px 1px $heading-shadow-color;
  color: $heading-color;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1rem;
}

a {
  text-decoration: none;
  color: $nav-color;
  &:hover {
    text-decoration: underline;
  }
  &:visited {
    color: $nav-color;
  }
}

#page {
  @extend .container;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: $content-bg-color;
  padding: 0px $margin 0px $margin;
}

#page > main {
  flex: 1 0 auto;
  padding: 1.5em;
}

#page > header {
  flex: none;
  background-color: white;
  border-bottom-left-radius: $br;
  border-bottom-right-radius: $br;
}

#page > header > nav {
  margin: $margin;
  border-radius: $br;
  background-color: $nav-bg-color;
}

#page > header > nav > a.active {
  font-weight: bold;
}

#header-image {
  height: 200px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url(asset_path("header-image.png"));
}

#page > footer {
  margin-top: auto;
  background-color: white;
  flex: none;
  border-top-left-radius: $br;
  border-top-right-radius: $br;
}

#page > footer > div {
  @extend .text-center;
  padding: 0.5em;
  margin: $margin $margin 0px $margin;
  border-top-left-radius: $br;
  border-top-right-radius: $br;
  background-color: $nav-bg-color;
  font-size: 0.75em;
}

#page > footer .links {
  color: $nav-color;
}
