
$br: 9px;
$margin: 3px;
$nav-bg-color: #00B4AC;
$nav-color: #25418F;
$content-bg-color: #F7941D;
$bg-color: #444;
$color: #FAFAFA;
$heading-color: #D12229;
$heading-color2: $black;
$heading-shadow-color: $black;
$heading-shadow-color2: rgba(209, 34, 41, 0.5);
